.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container {
  display: flex;
  background-color: #4a4f58;
  justify-content: space-between;
  color: white;
}

.logo {
  font-size: calc(10px + 2vmin);
  padding: 5px 20px;
}

.nav-buttons {
  padding: 5px 20px;
}

.search-bar {
  padding: 20px;
  display: flex;
  width: 50%;
}
